//ここから、商品出品画面（=items/sell.html）の装飾
//ヘッダー装飾
.Multiple-Container{
  background-color: #f5f5f5;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

//メイン
.Product-Listings{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  padding-top: 30px;
}

.Product-Listing{
  padding:0 40px 40px 40px;
  &__Subtitle{
    color: #a19f9f;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
  }
  &__Inside{ 
    &__Title{
      margin-top: 20px;
      font-weight: 600;
      font-size: 14px;
      color: #333333;
      padding: 10px 0;
      display: flex;
      align-items: center;
      .Iten-Up__Require{
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 0.5px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 11px;
        vertical-align: top;
      }
      .Iten-Up__Optinal {
        background: #a19f9f;
        margin: 0 0 0 8px;
        padding: 0.5px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 11px;
        vertical-align: top;
      }
    }
    &__MaxFhoto{
      font-size: 14px;
      padding-bottom: 20px;
    }
    &__FhotoForm{
      width: 100%;
      height: 160px;
      border: 1px dashed #ccc;
      text-align: center;
      font-size: 12px;
      color: #333333;
      background-color: #f5f5f5;
      display: block;
      //padding: 60px 0 60px 0;
      .FhotoForm__Image-UpLoad{
        width: 100%;
        height: 100%;
        padding-top: 40px; 
        .FhotoForm__Image-UpLoad__Icon{
          display: inline-block;
          width: 24px;
          height: 24px; 
        }
      }
     }
    &__Write{
      &__form input{
        padding: 12px 450px 12px 5px;
        border: 1px solid #ccc;
        border-radius: 3px;}
    }
    &__Select::placeholder{
      padding: 0.5em;
      border: 1px solid #ccc;
      width: 100%;
      height: 240px;
    }
    &__Select{
      &__Form select{
        width: 620px;
        height: 45px;
        border: 1px solid #ccc;
        border-radius: 3px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 10px;
      }
      &__Form {
        position: relative;
        .Arrow {

          position: absolute;
          top: 12px;
          left: 590px;
        }
      }
    }
  }
  &__Price{
    &__Form{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
  }
  &__Send{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}


//アンダーライン
.Product-Listing-UnderLine {
  border: 1px solid #f5f5f5;
  
}

//商品の説明装飾
  //①フォーム大きさ調整
.Item-Form-Expect{
  padding: 13px 24px ;
  border: 1px solid #ccc;
  width: 100%;
  height: 140px;
  border-radius: 3px;
}
  //②最大文字数表示
.Writing-Max{
  font-size: 12px;
  color: #a19f9f;
  padding: 15px 0 15px 560px;
}

//販売価格の調整
  //①販売価格の位置調整
.Price-Display{
  margin-bottom: 20px;
}
  //②販売価格の¥調整
.Money-Unit{
  padding: 0 0 0 30px;
  display: inline-block;
}
  //③販売価格のフォーム調整
.Price-Form input{
  width: 200px;
  height: 45px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: right;
}
.Price-Form{
  display: inline-block;
  margin: 20px 0;
}

//出品ボタン装飾
.Exhibit-Button{
  margin-bottom: 50px;
  width: 50%;
  height: 50px;
  border-radius: 4px;
  background: #ea352d;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border: none;
  display: inline-block;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

//戻るボタン装飾
.Return-Button{
  display: block;
}

//？マーク装飾
.Furima-Guide{
  width: 16px;
  height: 16px;
  fill: #0099e8;
  vertical-align: middle;
  padding-left: 5px;
}

//警告文装飾
.Product-Notes{
  width: 88%;
  margin: 0 auto;
  font-size: 12px;
  color: #a19f9f;
  padding: 60px 0;
}

//青文字装飾
.Blue-Character{
  color: #0099e8;
  text-decoration: none;
}

//プレビュー表示欄のCSS
#previews{
  display:flex;
  height:160px;
  overflow: hidden;
  .preview-box{
    width: 20%;
    height: 100%;
    flex-shrink: 0;
    .upper-box{
      height:85%;
      img{
        height:85%;
      }
    }
    .lower-box {
      display: flex;
      text-align: center;
      .update-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
      .delete-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}
